extends ./patterns/layout.jade

block content
	.wrap
		nav
			.nav-wrapper
				.center
					a(href="/").breadcrumb ESCV
					a(href="/rooms").breadcrumb Rooms
					a(href="#").breadcrumb Room

		section(id="info-section", class="teal lighten-2 section")
			.container
				.row
					.col.s4
						.avatar-img.circle(style="background-image: url(#{room.img});")

					.col.s8
						h1.text-white= room.label
						h4.text-white= room.description

		section(id="table-section", class="indigo lighten-5 section")
			.container
				.row
					.col.s3
						h1.text-black TABLE

					.col.s9
						include ./patterns/form_date.jade
					
					table.centered.highlight
						thead
							tr
								th Клиент
								th Время
								th Дата

						tbody
							each list in visit_list
								tr
									td= list.user
									td= list.time
									td= list.date