extends ./patterns/layout.jade

block content
	.wrap
		nav
			.nav-wrapper
				.center
					a(href="/").breadcrumb Главная
					a(href="/rooms").breadcrumb Комнаты

		section.bg-section

		section.list-objects-section.z-depth-1.section
			.row
				each room in rooms
					.col.s3
						.card
							.card-image.waves-effect.waves-block.waves-light
								a(href="rooms/#{room.id}")
									.list-object-image(style="background-image: url(#{room.img});")

							.card-content
								span.card-title.activator.grey-text.text-darken-4.truncate=room.name
							
							.card-reveal
								span.card-title.activator.grey-text.text-darken-4=room.name
								p.activator= room.description