extends ./patterns/layout.jade

block content
	.wrap
		nav
			.nav-wrapper
				.center
					a(href="/").breadcrumb ESCV
					a(href="/users").breadcrumb Users
					a(href="#").breadcrumb User

		section(id="main-section", class="teal lighten-2 section")
			.container
				.row
					.col.s4
						.avatar-img.circle(style="background-image: url(#{user.img});")

					.col.s8
						h1.text-white= user.name
						h4.text-white= user.description

		section(id="table-section", class="indigo lighten-5 section")
			.container
				.row
					.col.s3
						h1.text-black TABLE
					
					.col.s9
						form(method="get")
							input(name="date", type="date", value=date, max=date)
							button.btn.waves-effect.waves-light(type="submit") Select
								i.material-icons.right send
					
					table.centered.highlight
						thead
							tr
								th Комната
								th Время
								th Дата

						tbody
							each list in visit_list
								tr
									td= list.room
									td= list.time
									td= list.date