extends ./patterns/layout.jade

block content
	.wrap
		nav
			.nav-wrapper
				.center
					a(href="/").breadcrumb Главная
					a(href="/users").breadcrumb Пользователи
					a(href="#").breadcrumb= user.name

		section.object-section.z-depth-1.container.section
			.row
				.col.s5
					.object-image.circle.z-depth-2(style="background-image: url(#{user.img});")

				.col.s7
					h1.object-name.flow-text= user.name
					h4.object-description.flow-text= user.description

		section.table-section.z-depth-1.container.section
			span.flow-text ТАБЛИЦА ПОСЕЩЕНИЯ
			a(href="#{user.id}/csv").right.btn-floating.btn-large.red
				i.material-icons speaker_notes

			if visit_list	
				table.centered.highlight
					thead
						tr
							th Комната
							th Время
							th Дата

					tbody
						each list in visit_list
							tr
								td
									a(href="/room/"+list.room.id)= list.room.name
								td= list.time
								td= list.date
			else
				p.flow-text.center Нет данных о посещениях