extends ./patterns/layout.jade

block include_css
	link(rel="stylesheet", href="../../static/css/object.css")

block content
	.wrap
		nav
			.nav-wrapper
				.center
					a(href="/").breadcrumb Главная
					a(href="/users").breadcrumb Пользователи
					a(href="#").hide-on-small-only.breadcrumb= user.name

		section.object-section.z-depth-1.container.section
			.row
				.col.offset-m1.m4.s12
					.object-image.z-depth-2(style="background-image: url(#{user.img});")

				.col.offset-m1.offset-l1.m5.l6.s12.object-info
					h1.object-name.flow-text= user.name

					if user.description
						ul.data-tags
							each key, value in user.description.items()
								li(id=key, class="tag flow-text")
									span.key= key
									span : 
									span.value= value
					else
						p.flow-text Нет данных о человеке

		section.table-section.z-depth-1.container.section
			.row
				span.flow-text.col.s6 ТАБЛИЦА ПОСЕЩЕНИЙ
				.col.s4
					include patterns/form_date.jade
				
				.col.s2
					a(
						href = "#{user.id}/csv/"+user.name.replace(" ","-")+".csv"
						class = "table-btn right btn-floating red tooltipped"
						data-position = "bottom"
						data-delay = "100"
						data-tooltip = "Сгенерировать CSV таблицу"
					)
						i.material-icons speaker_notes


			if visit_list
				table.centered.highlight
					thead
						tr
							th Комната
							th Время
							th Дата

					tbody
						each visit in visit_list
							tr
								td
									a(href="/rooms/"+visit.room_id)= visit.room
								td= visit.time
								td= visit.date
			else
				p.flow-text.center Нет данных о посещениях
