extends ./patterns/layout.jade

block content
	.wrap
		nav
			.nav-wrapper
				.center
					a(href="/").breadcrumb Главная
					a(href="/users").breadcrumb Пользователи
					a(href="#").breadcrumb= user.name

		section.object-section.z-depth-1.container.section
			.row
				.col.s5
					.object-image.circle.z-depth-2(style="background-image: url(#{user.img});")

				.col.s7
					h1.object-name.flow-text= user.name
					h4.object-description.flow-text= user.description

		section.table-section.z-depth-1.container.section
			span.flow-text ТАБЛИЦА ПОСЕЩЕНИЙ

			a(
				href = "#{user.id}/csv"
				class = "right btn-floating btn-large red tooltipped"
				data-position = "bottom"
				data-delay = "100"
				data-tooltip = "Сгенерировать CSV таблицу"
			)
				i.material-icons speaker_notes

			if visit_list	
				table.centered.highlight
					thead
						tr
							th Комната
							th Время
							th Дата

					tbody
						each visit in visit_list
							tr
								td
									a(href="/rooms/"+visit.room_id)= visit.room
								td= visit.time
								td= visit.date
			else
				p.flow-text.center Нет данных о посещениях